/* common shared style */
body {

    /* font-family: 'Raleway', sans-serif; */
}

/* nav related style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-family: 'Open Sans', sans-serif;
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 35px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
    
}

nav a {
    text-decoration: none;
    color: #474747;
   
}